.form-input {
    text-align: center;
    font-size: 1rem;
    margin: 10px;
    padding: 10px;
}
#main-header {
    text-align: center;
    margin: 10px;
    padding: 10px;
}
.btn {
    margin: 10px;
    padding: 10px;
    border-radius: 30px;
}


